<div class="site-navbar-wrap bg-white">
  <div class="site-navbar-top">
    <div class="container py-2">
      <div class="row align-items-center">
        <div class="col-6">
          <a href="#" class="p-2 pl-0"><span class="fa fa-twitter"></span></a>
          <a href="#" class="p-2 pl-0"><span class="fa fa-facebook"></span></a>
          <a href="#" class="p-2 pl-0"><span class="fa fa-instagram"></span></a>
          <a href="#" class="p-2 pl-0"><span class="fa fa-linkedin"></span></a>
        </div>
        <div class="col-6">
          <div class="d-flex ml-auto">
            <a href="#" class="d-flex align-items-center ml-auto mr-4">
              <span class="icon-phone mr-2"></span>
              <span class="d-none d-md-inline-block">shannon@jetcutswi.com</span>
            </a>
            <a href="#" class="d-flex align-items-center">
              <span class="icon-envelope mr-2"></span>
              <span class="d-none d-md-inline-block">+1 262 993 9402</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-navbar bg-light">
    <div class="container py-1">
      <div class="row align-items-center">
        <div class="col-2">
          <!-- <img src="assets/images/jetcutslogo.png" href="/> -->
          <a [routerLink]="['/']"> <img src="assets/images/jetcutslogo.png" /> </a>
          <!-- <h2 class="mb-0 site-logo"><a href="index.html"></a></h2> -->
        </div>
        <div class="col-10">
          <nav class="site-navigation text-right" role="navigation">
            <div class="container">
              <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
              </div>

              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a [routerLink]="['/']">Home</a></li>

                <li><a [routerLink]="['/company']">Company</a></li>
                <li><a [routerLink]="['/services']">Services</a></li>
                <li><a [routerLink]="['/quote']">Contact</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
