<div class="promo py-5 bg-primary" data-aos="fade">
  <div class="container text-center">
    <h2 class="d-block mb-0 font-weight-light text-white">
      <a [routerLink]="['/quote']" class="text-white d-block">Contact us for a quote today</a>
    </h2>
  </div>
</div>

<footer class="site-footer">
  <div class="container ">
    <div class="row ">
      <div class="col-md-5  text-right">
        <p>
          16685 W. Victor Road <br />
          New Berlin, WI 53151
        </p>
      </div>
      <div class="col-md-7  text-center">
        Tel. +1 262 993 9402 <br />
        Mail. shannon@jetcutswi.com
      </div>
    </div>
  </div>
</footer>
